 /*****************GENERAL STYLING*************************/
 html,
 body {
     height: 100%;
     margin: 0;
     background-image: url("../ressources/images/bg.png");
     background-size: cover;
     /*font: 13px monospace;*/
 }

 .cntr,
 #header_logo,
 #header_menu,
 #main_header_div, ul{
  /*border: red solid 1px;*/
 }

 /*****************HEADER STYLING*************************/
 #main_header_div {
     display: flex;
     justify-content: space-between;
     margin-top: px;
     padding: 5px;
 }

 /*LOGO*/
 #header_logo {
    padding: 0;
    margin: 0;
    
 }
 #logo_writing{
     margin: 0;
     padding: 0;
     width: 200px;
     height: 50px;
     
 }
 #logo {
     margin: 0;
     padding: 0;
     width: 200px;
     height: 145px;
     
 }
 @keyframes rotating {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }
 #header_logo #logo:hover {
    animation: rotating 2s linear infinite;
 }
 /*MENU*/
 #header_menu {
    display: flex;
    padding: 20px;
    margin: auto;
    height: min-content;
    width: 1000px;
    justify-content: center;
    align-items: center;
    background-color: #dbe2f2;
    border-radius: 50px;
    font-weight: bold;
    font-size: large;
 }

 #header_menu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
 }
 #header_menu ul li a {
    margin: 50px;
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #169a8c;
    border-radius: 50px;  
    text-decoration: none;
 }

.header_menu_item:hover {
    color: #77819a ;
    text-decoration: none;
    animation: pulse 1s infinite;
 }

   @keyframes pulse {
       0% {
           transform: scale(0.95);
           box-shadow: 0 0 0 0 rgba(32, 220, 201, 0.8);
       }

       70% {
           transform: scale(1);
           box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
       }

       100% {
           transform: scale(0.95);
           box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
       }
   }


 /*SEARCH BAR IN ->> style_headerSearchBar.css*/
 #header_search_div{
    margin: 20px 20px 0 0 ;
 }
 /*****************BODY STYLING*************************/