/*** COLORS ***/
/*** DEMO ***/


.cntr {
    display: table;
    margin: 10px ;
    padding-top: 10px;
}

.cntr .cntr-innr {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

/*** STYLES ***/
.search {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 8px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: text;
    color: #169a8c;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.search.active,
.search:hover {
    width: 200px;
    margin-right: 0px;
    padding-top: 0;
}

.search.active:after,
.search:hover:after {
    height: 0px;
}

.search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
}