/*****************GENERAL STYLING*************************/
html,
body {
    height: 100%;
    margin: 0;
    background-image: url("../ressources/images/bg.png");
    background-size: cover;
    /*font: 13px monospace;*/
}

.cntr,
#header_logo,
#header_menu,
#main_header_div, ul{
    /*border: red solid 1px;*/
}

/*****************HEADER STYLING*************************/
#main_header_div {
    display: flex;
    justify-content: space-between;
    margin-top: px;
    padding: 5px;
}

/*LOGO*/
#header_logo {
    padding: 0;
    margin: 0;

}
#logo_writing{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 50px;

}
#logo {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 145px;

}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
#header_logo #logo:hover {
    animation: rotating 2s ease infinite;
}
/*MENU*/
#header_menu {
    display: flex;
    padding: 20px;
    margin: auto;
    height: min-content;
    width: 1000px;
    justify-content: center;
    align-items: center;
    background-color: #dbe2f2;
    border-radius: 50px;
    font-weight: bold;
    font-size: large;
}

#header_menu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#header_menu ul li a {
    margin: 50px;
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #169a8c;
    border-radius: 50px;  
    text-decoration: none;
}

.header_menu_item:hover {
    color: #77819a ;
    text-decoration: none;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(32, 220, 201, 0.8);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


/*SEARCH BAR IN ->> style_headerSearchBar.css*/
#header_search_div{
    margin: 20px 20px 0 0 ;
}
/*****************BODY STYLING*************************/
#main_body{
    display: flex;
    justify-content: space-between;
    border: red solid 2px;
}
/*ASIDE MENU*/
#aside_menu {
    background-color: #dbe2f2;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 40px;
    width: 300px;
    height: 600px;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /*border: solid red 2px;*/
    
    position: relative;
    top: 50px; 
    bottom: 500px;
    z-index: 10;     
}

#aside_menu ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 580px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
#aside_menu ul li  {
    display: flex;
    justify-content: center;
    align-self:flex-start;
    align-items: baseline;
    margin: 0;
    padding: 0;
    padding-top: 0;

}
/* ASIDE MENU Icons*/
.aside_menu_img_icon {
    width: 40px;
    height: 37px;
    padding: 0;
    margin-top: 4px;
    margin-right: 10px;
}
#aside_menu_errant_animals, #aside_menu_breeding, #aside_menu_shop{
    width: 30px;
    height: 27px;
}
#aside_menu_shop{
    height: 35px ;
}
/*ASIDE MENU list link setup*/
#aside_menu ul li a  {
    color: #138a7e;
    font-size:20px ;
    font-weight: 600;
    text-decoration: none;
}

#aside_menu ul li a {
    margin: 0;
    position: relative;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
/*aside menu underline on hover*/
.custom-underline {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
    color: #fff;
    text-decoration: none;
}
.custom-underline::after {
    content: "";
    position: absolute;
}
.box-e .custom-underline::after {
    top: 65%;
    margin-top: 10px;
    height: 2px;
    width: 0%;
    left: 0%;
    background-color: #616A99;
    transition: 0.5s ease all .3s;
    line-height: 125px;
}
.box-e:hover .custom-underline::after {
    width: 100%;
    transition: 0.3s ease all;
}


#aside_right {
    
    width: 300px;
    height: 600px;
    margin-right: 15px;
   
    /*border: green solid 2px;*/
    z-index: 10;
    border-radius: 40px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

    top: 50px;
    bottom: 500px;

}
#aside_right #urgence {
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    border-radius: 40px;
    width: 90%;
    height: 50%;
}

@keyframes pulse_urgence {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 red;
        background: red;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        background: white;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        background-color: white;
    }
}

#aside_right #urgence:hover{
        animation: pulse_urgence 1s infinite;
}
#aside_right #urgence a {
    color: gray;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}
#aside_right #urgence a:hover{
    color: gray;
    text-decoration: none;
}
#aside_right #urgence a img{
    margin-left: 50px;
    height: 70%;
    width: 70%;
    
}
#aside_right #stats{
    background-color: white;
    display: flex;
    border-radius: 40px;
    margin-top: 20px;
    width: 90%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
canvas{
    border-radius: 40px;
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    z-index: 10;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


#carrousel {
    background-color: #5d92b4;
    width: 1200px;
    height: 600px;
    z-index: 10;
    border-radius: 40px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 50px;
    bottom: 500px;
}

#carrousel img{
    width: 1200px;
    height: 600px;
}